$color1 :#303952;
$color2 : #596275;
$color3 :  #d2dae2 ;
$color4 : #808e9b;

.skillsused {
text-align: center;
padding: 5px;
background: #EBEBFF;
margin-right: 5px;
border-radius: 8px;
color: #6070FF;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    grid-gap: 5px;
    border-radius: 40px;
    margin: 20px 50px;
    border: .1px solid $color4;
    .img_side{
        .project-img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .info_side{
        a{
            color: inherit;
            text-decoration: none;
            border: 3px #6070FF solid;
            padding:10px;
            margin-right:5px ;
            border-radius: 10px;
        }
        .links {
            display: inline-block;
            margin-left: 10px;

        }

        a:hover{
            color: white;
            background-color:#6070FF ;
        }
        h2{
            color: $color1;
        }
        .project_desc{
            font-size: 18px;
            width: 80%;
        }
        .project_techs{
            font-size: 16px;
            margin-bottom: 40px;
        }
    }
}
@media only screen and (max-width: 800px) {
    .project{
        grid-template-columns: 1fr;
        margin: 20px 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .project{
        margin:20px;
    }

}